h1 {
	background: #fff url('idearefuge.gif') no-repeat scroll center center;
	font-size: 0;
	width: 400px;
	height: 108px;
	margin-left: 24%;
}

p {
	padding: 1% 0;
}

#yui-main {
	margin-top: 1%;
	font-size: 121%;
}

.yui-u img {
	margin: 0 auto 0;
}

#yui-main div.first div {
	text-align: right;
	border-right: 5px solid #ccc;
	height: 250px;
	padding: 2% 7% 0;
	color: #535353;
}

.intro {
	font-size: 350%;
	font-family: Georgia;
	border-bottom: 1px solid #bbb;
}

.yui-nav {
	border-bottom: 1px solid #2c832c;
}

.yui-nav li {
	padding: 0.25em 0.5em 0.25em;
	border: 1px solid #2f8c2f;
	border-width: 1px 1px 0;
	background-color: #ebfee4;
}

.yui-nav li.selected {
	background-color: #2f8c2f;
}

.yui-nav li.selected a{
	color: #fff;
}

.yui-nav li a {
	text-decoration: none;
	color: #23831e;
	font-size: 110%;
	font-weight: bold;
}

#ft {
	font-size: 90%;
	margin: 3%;
	text-align: center;
	color: #aaa;
	text-transform: uppercase;
}
